<app-header />

<ul id="users">
  <user [users]="Users" (clickedOn)="UserPicker($event)"></user>
</ul>

@for (i of list; track i) {
<keypad (click)="SetTimeButton(i)" [label]="i"></keypad>
}
<br />
<!--<button (click)="add30()">Add 30 seconds</button>
-->
<br />
<button (click)="confirm()">Submit</button>

<p>
  {{ EmptyDataError }}
</p>

<ol>
  @for (_data of UserAndTimeArray; track $index) {
  <li>{{ _data }}</li>
  }
</ol>
<p>{{ StartTimeString }}</p>
<br />
<button (click)="ClearList()">Clear list</button>
